.ant-layout-footer {
    padding: 0 0;
    background: transparent;
  }
  
  .footer {
    width: 100%;
    height: fit-content;
    background: none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 12px 0 var(--color-box-shadow);
  }
  
  .footer .footer-bg {
      background: rgb(225, 255, 255);
      background: -moz-linear-gradient(45deg, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 12%, rgba(253, 255, 255, 1) 12%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 54%, rgba(190, 228, 248, 1) 75%, rgba(177, 216, 245, 1) 100%);
      background: -webkit-linear-gradient(45deg, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 12%, rgba(253, 255, 255, 1) 12%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 54%, rgba(190, 228, 248, 1) 75%, rgba(177, 216, 245, 1) 100%);
      background: linear-gradient(45deg, rgba(225, 255, 255, 1) 0%, rgba(225, 255, 255, 1) 7%, rgba(225, 255, 255, 1) 12%, rgba(253, 255, 255, 1) 12%, rgba(230, 248, 253, 1) 30%, rgba(200, 238, 251, 1) 54%, rgba(190, 228, 248, 1) 75%, rgba(177, 216, 245, 1) 100%);
      filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=1);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      width: 100%;
      height: 100%;
      height: 135px;
      z-index: 9;
      width: 100%;
  }
  
  .footer .footer-row {
    width: 100%;
    height: fit-content;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .footer-row .col01 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .footer-logo {
    max-width: 270px;
    width: 100%;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1.3);
    margin-top: 20px;
  }
  
  .footer .footer-text {
    text-align: center;
    max-width: 1600px;
    margin-top: 7px;
    margin-bottom: 5px;
  }
  
  .footer .footer-text .ant-typography {
    color: #2a2a2b;
  }
  
  /* /////////////////////////// */
  
  @media only screen and (min-width: 1200px) and (max-width: 1600px) {
    .footer .footer-text {
      margin-right: 20px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .footer .footer-text {
      margin-right: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .footer .footer-text {
      margin-right: 20px;
    }
  }
  
  @media only screen and (min-width: 415px) and (max-width: 600px) {
    .footer .col01 {
      display: flex;
      flex-direction: column;
    }
    .footer .footer-bg {
      height: 212px;
    }
  }
  
  @media only screen and (min-width: 375px) and (max-width: 414px) {
    .footer .col01 {
      display: flex;
      flex-direction: column;
    }
    .footer .footer-bg {
      height: 235px;
    }
  }